html {
    /*height: 100%;*/
    margin: 0cm 3cm 1cm 1cm; 
}

body {
    background-image: url('../img/web-ready/back.jpg');
}

.text_1 {
    text-align: center;
    font-size: 15px;
    background-color: #ffffff;
    display: inline-block;
    width: 100%;
    right: center;
    justify-content: center;
    position:relative;
    top: center;
   /* margin: 0.4cm 4cm 0cm 4cm;*/ 
    border: 3cm 3cm 3cm 3cm;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-bottom: 1cm;
}
.text_2 {
    text-align: left;
    font-size: 18px;
    background-color: #ffffff;
    display:inline-block;
    width:100%;
    right: center;
    justify-content: left;
    position:relative;
    top: center;
    overflow-wrap:break-word;
    overflow-x: hidden;  
    /*margin: 0cm 4cm 0.4cm 4cm; 
    /*border: 3cm 3cm 3cm 3cm;*/
    padding-left: 1cm;
    padding-right: 1cm;
    padding-bottom: 1cm;
}
