html {
    /*height: 100%;*/
    width: 1518px;
}

body {
    background-image: url('../img/web-ready/back.jpg');
    /*margin: 1cm 2cm 2cm 2cm;*/
   margin: 0 auto;
}

ol.link_1 {
    list-style-type:  none;
    color: white;
    overflow-wrap:break-word;
    overflow-x: hidden;
}

ol li {
    display: inline;
}

ol.link_1 li {
    display: block;
    float: left;
    font-size: 18px;
    text-decoration: none
}

.text {
    display: inline-block;
    width: 1215px;
    position:relative;
    right: center;
    top: center;
    /*left : center;*/
    color : white;
    background: rgba(0, 0, 0, 0.7);
    border: 3cm 3cm 3cm 3cm;
    border-radius: 25px 25px 25px 25px; 
}

.text_3 {
    width: 1215px;
}

.text_1 {
    text-align: center;
    font-size: 15px;
    width: 1215px;
    color : white;
    background: rgba(0, 0, 0, 0.7);
    display: inline-block;
    justify-content: center;
    position: relative;
    border: 3cm 3cm 3cm 3cm;
    border-radius: 25px 25px 0px 0px;
    padding-top: 0.5cm;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-bottom: 0.5cm;
}
.text_2 {
    text-align: left;
    font-size: 18px;
    width: 1215px;
    background: rgba(255, 255, 255, 0.95);
    display:inline-block;
    position:relative;
    word-wrap:break-word;
    /*overflow-x: hidden; */ 
    border: 3cm 3cm 3cm 3cm;
    border-radius: 0px 0px 25px 25px;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-bottom: 1cm;
   
}
